#!/bin/bash
#
# Apply upgrade workarounds
set -euo pipefail

function apply_patch {
    local patch_dir=$1
    local patch_id=$2

    curl -4 https://review.openstack.org/changes/${patch_id}/revisions/current/patch?download | \
        base64 -d > /tmp/patch.txt

    if sudo patch --dry-run --reverse --force -d ${patch_dir} -p1 < /tmp/patch.txt >/dev/null 2>&1
    then
        echo "Patch ${patch_id} already applied, skipping"
    else
        sudo patch -Ns  -d ${patch_dir} -p1 < /tmp/patch.txt
    fi
}

echo Patch#543392
apply_patch /usr/lib/python2.7/site-packages/ 543392
